body {
}
/* Template for the items in the ListViews in this sample */       
.smallListIconTextItem
{
    width: 100%;
    height: auto;
    padding: 5px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
}

    .smallListIconTextItem 
    {
        border: 2px solid white;
        width: 100%;
        height: auto;
        font-size:small;
        margin: 5px;
    }

/* CSS applied to the ListViews in this sample */
.listView
{
    height: 100%;
}

/* Override the background color for even/odd win-containers */
.listView .win-container.win-container-odd {
    background-color: #777;
}

.listView .win-container.win-container-even {
    background-color: #444;
}

label{
    margin-left:50px;
    float:left;
    width: 200px;
}

#sample {
    height: 50%;
}

#sample .smallListIconTextItem
{
    width: 100%;
    height: 70px;
    padding: 5px;
    overflow: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#sample .button-well {
    margin: 5px;
}

#sample .headerFooterPlaceholder {
    display: none;
}

/* CSS applied to the ListViews in this sample */
#sample .listView
{
    height: 100%;
}

#sample .listView .header {
    padding: 10px;
    background-color: #333;
}

.win-button {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}

.win-h3 {
    color: #ffffff;
}